body {
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.text-center {
  text-align: center;
  height: 25px;
  font-weight: Arial, sans-serif;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.card {
  margin-top: 50px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 25px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  border: 5px solid #ced4da;
  border-radius: 10px; /* Arredonda as bordas um pouco mais */
  padding: 10px;
  width: 93%;
}

.btn-primary {
  background-color: #2e15be;
  border-color: #510683;
  font-size: large;
  color: #fff;
  font-weight: Arial, sans-serif;
  font-family: Arial, sans-serif;
  border-radius: 10px; /* Borda arredondada */
  padding: 12px 24px; /* Tamanho do botão */
  display: block; /* Para centralizar */
  margin: 0 auto; /* Para centralizar */
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

body {
  background: url(1280x1024.jpg);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.snow-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1; /* Define o z-index para um valor negativo */
}

.container {
  position: fixed;
  border-style: solid;
  top: 50%;
  left: 50%;
  width: 440px;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 10px; /* Aumentei o padding para manter a largura proporcional */
  background-color: #510683;
  border-radius: 15px; /* Arredonda as bordas */
  
}
.form-group1 {
  font-weight: Arial, sans-serif;
  font-family: Arial, sans-serif;
  font-size: large;
  color: #ffffff;
}
.form-group2 {
  font-weight: Arial, sans-serif;
  font-family: Arial, sans-serif;
  font-size: large;
  color: #ffffff;
}
.form-group3 {
  font-weight: Arial, sans-serif;
  font-family: Arial, sans-serif;
  font-size: large;
  color: #ffffff;
}
.form-group4 {
  font-weight: Arial, sans-serif;
  font-family: Arial, sans-serif;
  font-size: large;
  color: #ffffff;
}
.snow {
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 90%;
  position: absolute;
  animation: fallingSnow linear infinite;
}

@keyframes fallingSnow {
  0% {
      transform: translateY(-40px);
  }
  100% {
      transform: translateY(100vh);
  }
}
